version: '3.8'

services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  web:
    build: ./pizza29
    image: pizza29
    container_name: pizza29
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./pizza29:/app
    depends_on:
      db:
        condition: service_healthy
    command: sh -c "python manage.py migrate && gunicorn pizza29.wsgi:application --bind 0.0.0.0:8000"
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx-server
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./pizza29/static:/app/static
      - ./pizza29/media:/app/media
    depends_on:
      - web
    networks:
      - app-network


volumes:
  postgres_data:
  static:
  media:

networks:
  app-network:
    driver: bridge