@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.363);
}

/* @font-face {
    font-family: "Ponomar Regular";
    src: url(../font/Ponomar-Regular.ttf);
}

span {
    font-family: "Ponomar Regular", serif;
    font-size: 48px;
    line-height: 0;
} */

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-weight: 450;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}


h1 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 36px;
}

h5 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.header-container {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.container {
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    font-size: 19px;
    height: 80px;
    background-color: #fff;
    box-shadow: var(--box-shadow); /*Черта под навбаром*/  
}

/* .header a {
    transition: all 0.25s ease;
} */

.header a {
    transition: color 0.25s;
}

.header a:hover {
    color: rgb(255, 105, 0);
}

/* .header-list {
    text-transform: uppercase;
} */

.heavy-logo {
    position: fixed;
    /* top: 0.5%; */
    top: 0.9%;
    /* left: 44.5%; */
    left: 47.2%;
    max-width: 105px;
    max-height: 105px;
}

.home {
    align-items: center;
}

.home-title {
    /* margin-top: 210px; */
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Стили для кликабельной карточки */
.card {
    width: 18rem;
    
    transition: transform 0.2s, box-shadow 0.2s; /* Плавный эффект при наведении */
    overflow: hidden;
    /* margin-bottom: 15px; */
}

.card:hover {
    transform: translateY(-5px); /* Поднимаем карточку при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень при наведении */
}

.card-img-top {
    padding: 10px; /* Отступы вокруг изображения */
    object-fit: cover; /* Сохраняет пропорции изображения */
    width: 100%; /* Ширина изображения на 100% */
    height: 100%; /* Фиксированная высота изображения (настройте по своему усмотрению) */
}

/* Стили для названия товара */
.card-title {
    color: black;
    margin-bottom: 0.5rem; /* mb-2 */
    font-size: 20px;
    font-weight: bold;
}

/* Стили для описания товара */
.card-text {
    color: rgb(92, 99, 112);
    margin-bottom: 0.5rem; /* mb-2 */
    font-size: 16px;
}

/* Стили для цены */
.price {
    color: black;
    margin-bottom: 0; /* mb-0 */
    font-size: 20px;
    font-weight: bold;
}

/* Стили для скидки */
.cart-discount {
    display: flex;
    gap: 0.5rem; /* gap-2 */
    
}

.cart-discount .line {
    text-decoration: line-through;
    color: black;
    margin-bottom: 0; /* mb-0 */
}

/* .home-card {
    width: 250px;
    height: 350px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all 0.5s ease;
    background: #fff;
} */

.home-card {
    width: 250px;
    height: 350px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all 0.5s ease;
    background: #fff;
    padding: 10px; /* Внутренний отступ */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем содержимое */
}

.home-card:hover {
    border: 1px solid #000;
}


.title-card {
    max-width: 185px;
    margin-left: 5px;
    text-align: left;
    margin-top: 10px;
    /* min-height: 70px; */
}

/* .card-img {
    margin: 0 auto;
    width: 195px;
    height: 195px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

.card-desc {
    font-size: 14px;
    color: rgb(92, 99, 112);
    text-align: left; 
    margin: 0 0 10px 0; 
    overflow: hidden; 
    margin: 5px;
} */

/* .price {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin: 5px;
} */


.home-btn {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #00000027;
    border-radius: 5px;
    /* background-image: url(../img/btnh.png); */
    transition: all .4s ease;
    z-index: 2;
}

.home-btn:hover {
    border: 1px solid #000;
}

.frame1 {
    position: absolute;
    right: -0.5%;
    bottom: 60%;
    z-index: -1;
}

.frame2 {
    position: absolute;
    left: -0.5%;
    bottom: 60%;
    z-index: -1;
}

.frame3 {
    position: absolute;
    left: -0.3%;
    top: 73.4%;
    z-index: -1;
}

.frame4 {
    position: absolute;
    right: -0.3%;
    top: 73.4%;
    z-index: -1;
}

.logogothic {
    position: absolute;
    top: 6%;
    left: 40%;
    width: 400px;
    height: 300px;
}

.subtitlee {
    position: absolute;
    bottom: 0%;
    left: 44.5%;
}

.detail-image {
    width: 650px;
    height: 650px;
}

/* .detail-product {
    margin-top: 80px;
} */

.detail-description {
    margin-left: 40px;
    margin-top: 40px;
}

.detail-description p {
    margin-top: 30px;
    max-width: 700px;
}

.detail-description h2 span {
    font-size: 56px;
}

.cart-discount {
    margin-top: -10px;
    font-weight: 600;
}

.cart-discount .price {
    margin-top: -1px;
}

.line {
    opacity: 0.7;
    text-decoration: line-through;
    font-weight: 300;
}

.cart-btn {
    width: 220px;
    height: 50px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all .4s ease;
    z-index: 2;
    margin-top: 20px;
}

.cart-btn-admin {
    width: 250px;
    height: 50px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all .4s ease;
    z-index: 2;
    margin-top: 20px;
}

.cart-btn:hover {
    border: 1px solid #000;
}

.main {
    margin-left: 150px;
}

.main-title {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 65px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1300px;
    justify-content: center;
    justify-items: center;
    column-gap: 0px;
    row-gap: 10px;
    margin: 0 auto;
}

.sidebar {
    margin-top: 70px;
}

.llist {
    margin-left: -80px;
}
.sidebar ul li {
    font-size: 20px;
    width: 150px;
    height: 35px;
    margin-bottom: 5px;
}

.sidebar ul li a {
    margin-left: 15px;
    width: 165px;
}

.sidebar ul {
    margin-top: 20px;
}

.selected {
    border: 1px solid #000;
    border-radius: 5px;
    /* background-image: url(../img/categories-gtn.png); */
}

.pagination {
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 46%;
    gap: 12px;
    justify-content: center;
}

.disabled {
    opacity: 0.3;

}

.grob {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    margin-top: -5px;
    transition: 0.25s;
}

.grob:hover {
    fill: rgb(255, 105, 0);
}

.cart-quantity {
    position: absolute;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border: 1px solid #000;
    text-align: center;
    margin-left: 30px;
    margin-top: -45px;
}

.cart {
    flex-direction: column;
}

.cart-title {
    margin-top: 60px;
    margin-bottom: 30px;
}

.cart-cards {
    max-height: 52vh;
    width: 700px;
    overflow: auto;
}

.cart-card {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 150px;
    border: 1px solid #00000042;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* .cart-card:nth-child(even) {
    background-image: url(../img/cfr1.png);
    background-repeat: no-repeat;
} */

.cart-card-img img {
    width: 125px;
    height: 125px;
    border: 1px solid #00000042;
}

.cart-card-name {
    width: 280px;
}

.remove-btn {
    background-color: #fff;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border: 1px solid #00000042;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.remove-btn:hover {
    border: 1px solid #000;
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #00000042;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.cart-btn:hover {
    border: 1px solid #000;
}

.cart-price {
    font-size: 16px;
    
}

.opac {
    opacity: 0.5;
    margin: 0;
}

.cart-total-price-ots {
    font-size: 18px;
    margin-bottom: 25px;
}

.cart-total-price {
    margin: 0;
}

.total {
    margin: 50px 0 25px 0;
}

.cart-form {
    margin-top: 25px;
}

.add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    border: 1px solid #00000042;
    border-radius: 5px;
    margin: 0;
    transition: all 0.5s ease;
    background-color: #fff;
    margin-top: 25px;
}

.add-to-cart-btn:hover {
    border: 1px solid #000;
}

/* .carousel-inner {
    width: 1920px; 
} */

/* 
.carousel-inner {
    max-width: 800px;
    max-height: 600px; 
    
}

.carousel-item img {
    object-fit: cover; 
} */
.carousel {
    width: 100vw; /* 100% ширины окна просмотра */
    margin-bottom: 50px;
    padding: 0; /* Убираем внутренние отступы */
}

.carousel-inner {
    width: 100%;
}

.carousel-item img {
    width: 100vw; /* Растягиваем изображение на всю ширину экрана */
    height: auto; /* Сохраняем пропорции по высоте */
    object-fit: cover; /* Обрезаем лишнее, сохраняя пропорции */
}

/* ----------------------------------------- */
.login {
    width: 400px;
    height: 600px;
    margin-top: 100px;
    border: 1px solid #00000036;
    border-radius: 10px;
}

.login-reg {
    width: 600px;
    height: 600px;
    margin-top: 100px;
    border: 1px solid #00000036;
    border-radius: 10px;
}

.login-title h2 {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 30px;
}

.form-style {
    width: 250px;
    margin-left: 40px;
}

.form-input{
    margin-left: 40px;
}
.login-btn {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 45px;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #00000034;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.login-btn:hover {
    border: 1px solid #000000;
}

.reg-btn {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 45px;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #00000034;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.reg-btn:hover {
    border: 1px solid #000000;
}

.custom-btn {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #00000034;
    transition: all 0.5s ease;
}

.custom-btn:hover {
    border: 1px solid #000000;
}

.reset-pass {
    margin-left: 40px;
    margin-top: 195px;
}

.form-stylereg {
    width: 250px;
    margin-left: 20px;
}

.form-styleprofile {
    width: 250px;
}

.profile {
    width: 570px;
    height: 600px;
    margin-top: 100px;
    border: 1px solid #00000036;
    border-radius: 10px;
}

.profile2 {
    width: 570px;
    height: 690px;
    margin-top: 100px;
    border: 1px solid #00000036;
    border-radius: 10px;
}

.profile3 {
    width: 570px;
    height: 760px;
    margin-top: 100px;
    border: 1px solid #00000036;
    border-radius: 10px;
}

.box2 {
    margin-top: 212px;
    margin-left: 20px;
}

.box22 {
    margin-left: 20px;
}

.profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    border: 1px solid #00000034;
    border-radius: 5px;
    margin: 0;
    transition: all 0.5s ease;
    background-color: #fff;
}

.profile-btn:hover {
    border: 1px solid #000000;
}

.checkout {
    margin-top: 70px;
    width: 600px;
}

.order-info {
    margin-left: 40px;
}

.order-form input {
    border-radius: 5px;
    width: 250px;
    height: 38px;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #00000046;
}

.order-form {
    display: flex;
    flex-direction: column;
}

.order-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #00000034;
    border-radius: 5px;
    margin: 0;
    transition: all 0.5s ease;
    background-color: #fff;
}

.order-btn:hover {
    border: 1px solid #000000;
}

.paynow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #00000034;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-color: #fff;
}

.paynow:hover {
    border: 1px solid #000000;
}

.pay-title {
    margin-top: 20px;
    margin-left: 20px;
}

.pay-card {
    width: 600px;
    margin-top: 40px;
    margin-left: 20px;
}

.payform {
    position: fixed;
    top: 75%;
}

.castle {
    position: absolute;
    width: 450px;
    height: 650px;
    left: 37%;
    top: 15%;
}

.castlep {
    position: absolute;
    width: 450px;
    height: 650px;
    left: 45%;
    top: 15%;
}

.vl {
    position: absolute;
    width: 1px;
    height: 500px;
    background-color: #000;
    left: 32%;
    top: 25%;   
    opacity: 0.2;
}

.orderss {
    margin-left: 70px;
    width: 520px;
    max-height: 52vh; 
    overflow-y: auto;
}

.order-cart {
    width: 500px;
    border: 1px solid #00000034;
    border-radius: 5px;
    background-color: #fff;
    margin: 0;
    transition: all 0.5s ease;
    margin-bottom: 10px;
}

.order-cart:hover {
    border: 1px solid #000000;
}

.order-title {
    margin-top: 10px;
    margin-left: 10px;
}

.order-desc {
    margin-top: 5px;
    margin-left: 10px;
}

.orders h2 {
    margin-left: 65px;
}

.dadad {
    font-family: "Carrois Gothic", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.orders-carts {
    margin-left: 10px;
    margin-top: 10px;
}

.image-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

.prev-btn, .next-btn {
    color: #000;
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.next-btn:hover {
    background-color: #00000013;
}

.prev-btn:hover {
    background-color: #00000013;
}

.prev-btn {
    position: absolute;
    left: 8%;
}

.next-btn {
    position: absolute;
    left: 41%;
}

.notorders {
    margin-left: 70px;
    margin-top: 20px;
}

.mainvl {
    position: absolute;
    height: 650px;
    width: 1px;
    background-color: #000;
    opacity: 0.2;
    left: 18%;
    top: 23%;
}

.regform button {
    margin-left: 20px;
    margin-top: 30px;
}

.windowp {
    width: 1210px;
    height: 600px;
    margin-top: 100px;
    border: 1px solid #00000036;
    border-radius: 10px;
    /* background-image: url(../img/window.png); */
    background-repeat: no-repeat;
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 220px;
    height: 50px; */
    padding: 5px 10px;
    border: 1px solid #00000042;
    border-radius: 5px;
    margin: 0;
    transition: all 0.5s ease;
    background-color: #fff;
    margin-top: 25px;
}

.back-btn:hover{
    border: 1px solid #000;
}

/* .back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.back-btn:hover {
    background-color: #e0e0e0;
} */

.quantity-form {
    display: inline-block;
    margin: 0;
}
.quantity-btn {
    background-color: #fff;
    border: 1px solid #00000042;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Фиксированная ширина кнопки */
    height: 30px; /* Фиксированная высота кнопки */
    transition: all 0.5s ease;
}
.quantity-btn:hover {
    /* background-color: #e0e0e0; */
    border: 1px solid #000;
}
.cart-card-q {
    display: flex;
    align-items: center;
    
}
.cart-card-q p {
    margin: 0 10px;
    
}

.cart-card-price {
    /* margin-right: -10px; */
    
}

.empty-cart {
    text-align: center;
    /* padding: 20px; */
}
.empty-cart h4 {
    margin-bottom: 10px;
    color: #000;
}
.empty-cart p {
    margin-bottom: 20px;
    color: #000;
}


/* Карточка товара */
.card {
    width: 18rem;
    /* height: 420px; */
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Изображение в карточке */
.card-img-top {
    padding: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%; /* Фиксированная высота изображения */
}

/* Тело карточки */
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* Описание товара */
.card-text {
    color: rgb(92, 99, 112);
    font-size: 16px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Ограничение до 3 строк */
    -webkit-box-orient: vertical;
    margin-bottom: 0.5rem;
    min-height: 60px; /* Минимальная высота для коротких описаний */
}

/* Контейнер для карточек */
.home-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 1rem;
    align-items: stretch; /* Растягиваем карточки по высоте */
}

.reg-btn {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 45px;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #00000034;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.reg-btn:hover {
    border: 1px solid #000000;
}
