{% extends "main/base.html" %}
{% load static %}

{% block title %}Меню{% endblock title %}

{% block content %}
    <div class="llist d-flex">
        <div class="sidebar">
            <h3>Категории</h3>
            <ul>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "main:product_list" %}">Все позиции</a>
                </li>
                {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="main">
            <div class="main-title">
                {% if category %}{{ category.name }}{% else %}Все позиции{% endif %}
            </div>
            <div class="product-list">
                <div class="item d-flex gap-4">
                        {% for product in products %}
                            <a href="{{ product.get_absolute_url }}" class="card text-decoration-none" style="color: inherit;">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/noimage.jpg' %}{% endif %}" class="card-img-top" alt="{{ product.name }}">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <div class="mt-auto">
                                        {% if product.price_items.exists %}
                                            {% with price_item=product.price_items.first %}
                                                {% if price_item.discount %}
                                                    <div class="cart-discount mt-0">
                                                        <p class="line">{{ price_item.price }} ₽</p>
                                                        <p class="price">{{ price_item.sell_price }} ₽</p>
                                                    </div>
                                                {% else %}
                                                    <p class="price">от {{ price_item.price }} ₽</p>
                                                {% endif %}
                                            {% endwith %}
                                        {% else %}
                                            <p class="price">Цена не указана</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                    {% endfor %}
                </div>
                {% comment %} <div class="items">
                    {% for product in products %}
                        <div class="item">
                            <a href="{{ product.get_absolute_url }}" class="home-card d-flex flex-column align-items-center text-center">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/noimage.jpg' %}{% endif %}" class="card-img" alt="">
                                <h5 class="title-card">{{ product.name }}</h5>
                                {% if product.discount %}
                                    <div class="cart-discount d-flex gap-2">
                                        <p class="line">{{ product.price }} ₽</p>
                                        <p>{{ product.sell_price }} ₽</p>
                                    </div>
                                {% else %}
                                    <p class="price">{{ product.price }} ₽</p>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div> {% endcomment %}
            </div>
            <ul class="pagination">
                <li class="{% if not products.has_previous %}disabled{% endif %}">
                    <a href="{% if products.has_previous %}?page={{ products.previous_page_number }}{% endif %}">Назад</a>
                </li>
                {% for page in products.paginator.page_range %}
                    {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
                        <li>
                            <a href="?page={{ page }}" class="{% if products.number == page %}disabled{% endif %}">{{ page }}</a>
                        </li> 
                    {% endif %}
                {% endfor %}
                <li class="{% if not products.has_next %}disabled{% endif %}">
                    <a href="{% if products.has_next %}?page={{ products.next_page_number }}{% endif %}">Далее</a>
                </li>
            </ul>
        </div>
        <div class="mainvl"></div>
    </div>
{% endblock content %}