{% extends "main/base.html" %}
{% load static %}

{% block title %}Главная{% endblock title %}

{% block content %}
    <section class="home d-flex flex-column">
        <!-- Карусель -->
        <div id="pizzaCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Индикаторы (точки под каруселью) -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#pizzaCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#pizzaCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#pizzaCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <!-- Слайды с изображениями -->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <a href="/shop">
                        <img src="{% static 'img/car2.jpg' %}" class="d-block w-100" alt="Пицца 1">
                    </a>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <a href="/shop">
                        <img src="{% static 'img/car5.jpg' %}" class="d-block w-100" alt="Пицца 2">
                    </a>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <a href="/shop">
                        <img src="{% static 'img/car6.jpg' %}" class="d-block w-100" alt="Пицца 3">
                    </a>
                </div>
            </div>

            <!-- Кнопки "Вперед" и "Назад" -->
            <button class="carousel-control-prev" type="button" data-bs-target="#pizzaCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#pizzaCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
        <!-- Карусель -->

        <div class="home-recomendation">
            <div class="rec-title mb-4">
                <h3><span>Популярные позиции</span></h3>
            </div>
        </div>
        <div class="home-cards d-flex gap-4">
            {% for product in products %}
                <a href="{{ product.get_absolute_url }}" class="card text-decoration-none mb-4" style="color: inherit;">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/noimage.jpg' %}{% endif %}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="mt-auto">
                            {% if product.price_items.exists %}
                                {% with price_item=product.price_items.first %}
                                    {% if price_item.discount %}
                                        <div class="cart-discount mt-0">
                                            <p class="line">{{ price_item.price }} ₽</p>
                                            <p class="price">{{ price_item.sell_price }} ₽</p>
                                        </div>
                                    {% else %}
                                        <p class="price">от {{ price_item.price }} ₽</p>
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                <p class="price">Цена не указана</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock content %}